body {
	font-family: "Arial", sans-serif;
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 20px;
}

h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
	font-size: calc(1.2em + 0.5vw); /* Tamanho do título responsivo */
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.signo {
	background-color: #4b0082; /* Roxo escuro */
	color: #fff;
	margin: 10px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(75, 0, 130, 0.5);
	width: 100%;
	box-sizing: border-box;
}

.signo h2 {
	margin-top: 0;
	font-size: 1.5em;
}

.signo p {
	margin: 5px 0;
	font-size: 0.9em; /* Tamanho da fonte das informações */
	display: flex;
	align-items: center;
}

.signo .bolinha {
	width: 6px; /* Tamanho da bolinha */
	height: 6px; /* Tamanho da bolinha */
	background-color: #ccc; /* Cor da bolinha */
	border-radius: 50%;
	margin-right: 6px; /* Espaçamento entre a bolinha e o texto */
}

@media (min-width: 600px) {
	.signo {
		width: calc(50% - 40px); /* 50% menos margens */
	}
}

@media (min-width: 900px) {
	.signo {
		width: calc(33.33% - 40px); /* 33.33% menos margens */
	}
}

@media (min-width: 1200px) {
	.signo {
		width: calc(25% - 40px); /* 25% menos margens */
	}
}
